# flyctl launch added from .gitignore
**/node_modules
**/.DS_Store
**/dist
**/dist-ssr
**/*.local
**/count.txt
**/.env
**/.nitro
**/.tanstack
**/.wrangler
**/.output
**/.vinxi
**/todos.json

# flyctl launch added from .opencode/.gitignore
.opencode/**/docs
fly.toml
